submissions/*
!submissions/.gitkeep
.vscode/
.idea/
__pycache__/

# LaTeX
problem/*.aux
problem/*.bbl
problem/*.blg
problem/*.fdb_latexmk
problem/*.fls
problem/*.log
problem/*.out
problem/*.synctex.gz
problem/*.toc
problem/*.pdf
problem/_minted-*

website/_site
website/.sass-cache
website/.jekyll-cache
website/.jekyll-metadata
website/vendor
